html, button, input, select, textarea,
.MJXc-TeX-unknown-R,
.pure-g [class*="pure-u"] {
    font-family: 'Ubuntu', sans-serif;
}


img { border:none }


#menu {
	color: #b3b3b3; 
    background: transparent; 
    margin-left: 20px;
}

    

h1, h2, h3, h4, h5, h6	{
	font-family: 'Orbitron', sans-serif;
    font-weight: normal;
	letter-spacing: 1px;
	text-align:left;
	color:   #FFFFFF; /* #4682B4; #C8F3FF*/
	}
	
p, address, dl	{
	line-height: 160%;
	text-align: left;
	margin-top: 0.75em;
	margin-bottom: 1.25em;
	width: auto;
}


ul, ol, pre {
    text-align: left;
    width: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

li {
width: auto;
text-align: left;
margin-top: 1em;
margin-bottom: 0.5em;
}


footer ul {
    font-family: 'Orbitron', sans-serif;
    color: #333333;
    list-style: none;
    font-weight: normal;
}


footer ul li {
    display: inline;
    margin-right: 20px;
}


nav ul li a:hover {
    background-color: #2a03db; /* Change as needed */
    color: white;
}

nav ul {
    font-family: 'Orbitron', sans-serif;
    list-style-type: none;
    padding: 0;
    margin:0;
    overflow: hidden;
    background-color: #333; /* Dark background for contrast */
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container{
    margin-left:20px;
    margin-right:100px;
}


a {
    text-decoration: none;
    color: #323bcf;
}
a:hover {
    text-decoration: underline;
}


div {
    display: inline-block;
    padding: 20px;
    top: 20px;
    color: #FFFFFF; 
  } 
 


 /* footer */
 #footer {
    margin-top: 160px;
    }
   
   #footer p {
      font-size: small;        
      margin-top: 0;
  } 
  
  figure  {
      margin: 0 0px 3em 0;
  }
  
  figcaption {
      margin: 1.5em 0px 2.5em 0;
      text-align: center;
      font-size: x-small; 
      font-weight: bold;
  }

   
   /* Changes  to make all grey */
  body, #wrapper {  
    background: linear-gradient(to bottom, #000000, #3e3d3d);
       background-color: #121212;  /* (grey) #F8F8FF; #fff;  */
      /* color:  #333; */
      margin:0;
      padding:20;
  }
  
 img {
  width: 50%;
  height: auto;
}



.slider {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 300px; /* Adjust based on your needs */
    background-size: cover;
    background-position: center;
}

.slide.active {
    display: block;
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}



.dizzy-list {
    list-style: none;
    padding-left: 0;
}
.dizzy-list li:before {
    content: "\1F4AB"; /* Emoji code for dizzy emoji */
    padding-right: 8px;
}

.sparkle-list {
    list-style: none;
    padding-left: 0;
}

.sparkle-list li:before {
    content: "\2B50"; /* Unicode value for the ✨ emoji */
    padding-right: 8px;
}


.moon-list {
    list-style: none;
    padding-left: 0;
}

.moon-list li:before {
    content: "\1F31A"; /* Unicode value for the 🌚 emoji */
    padding-right: 8px;
}

.white-arrow {
    width: 20vw; /* Adjust the percentage as needed */
    height: auto; /* Maintain aspect ratio */
}

.project {
    margin: 20px; /* Add some margin around each project */
    padding: 20px; /* Add padding to create space between elements inside the project */
    border: 1px solid #151515; /* Add a border for visual separation */
    border-radius: 5px; /* Add rounded corners */
    background-color: #151515; /* Add a light background color */
}

.project h2 {
    font-size: 24px; /* Set the font size for project titles */
    margin-top: 0; /* Remove default top margin */
    color: #333; /* Set the color of project titles */
}

.project p {
    font-size: 16px; /* Set the font size for project descriptions */
    color: #666; /* Set the color of project descriptions */
}

.project-image {
    width: 100%; /* Make the project image fill the width of the container */
    height: auto; /* Maintain aspect ratio */
    margin-top: 20px; /* Add some space between the project description and the image */
}
